<div class="panel panel-default" *ngIf="loginService.isUserLoggedIn()">
  <div class="panel-heading">Gateway list</div>
  <div class="panel-body">
    <table mat-table [dataSource]="gateways" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef> Serial</th>
        <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
      </ng-container>
      <ng-container matColumnDef="ipv4Address">
        <th mat-header-cell *matHeaderCellDef> IPv4 Address</th>
        <td mat-cell *matCellDef="let element"> {{element.ipv4Address}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <button mat-icon-button (click)="openGateway(row.id)"><mat-icon>more_vert</mat-icon></button>
          <button mat-icon-button (click)="deleteGatewayWithConfirm(row.id)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openGateway(row.id)"></tr>
    </table>
  </div>
</div>

